@use "./variables.scss";

html {
  height: 100%;
}

body {
  background-color: var(--Light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.qr-component {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  max-width: 300px;
  padding: 1.1rem;
  background-color: var(--White);
  border-radius: 20px;
  text-align: center;

  &__image-container {
    margin-bottom: 1.5rem;
    &__image {
      width: 100%;
      object-fit: fill;
      border-radius: 10px;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 2rem;
  }

  &__description {
    max-width: 90%;
    margin: auto;
    color: var(--Grayish-blue);
    margin-bottom: 1rem;
    font-size: 1.05rem;
    line-height: 1.25rem;
  }
}
